body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header {
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.content {
  text-align: center;
  padding: 120px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap; /* 한 줄로 텍스트를 유지 */
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
}

.image-button img {
  width: 70px;
  height: 80px;
  margin: 10px;
}

.image-button-container {
  display: flex;
  justify-content: center;
}

.rounded-rectangle {
  background-color: #734ceb;
  margin-top: 280px;
  border-radius: 7px;
  padding: 10px;
  color: #ffffff;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 120px;
  color: #ffffff;
}

.additional-image {
  width: 70px;
  height: 80px;
  margin: 10px;
}

.menu {
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.menu {
  width: 200px;
  color: #121212; /* 텍스트 색상 설정 */
  padding: 20px;
  margin-bottom: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 50px; /* 각 메뉴 아이템 간격 설정 */
}
a {
  text-decoration: none;
  color: #fff; /* 링크 색상 설정 */
}

.static-hamburger-icon {
  color: #734ceb;
  font-size: 24px;
  position: fixed;
  top: 40px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

.menu-open .static-hamburger-icon {
  display: none;
}
